extends ../public/index

block panel
    .workplate
        .mymessagesselector(onclick="mycourses.messages.my()")
            | Мои сообщения
        .subsciptions
            each subscription in subscriptions
                .subscription(id="subscriptionid" + subscription.id, onclick="mycourses.subscription.currency(" + subscription.id + ")")
                    span.subscription-mark
                        - var mark = subscription.FirstName[0] + subscription.LastName[0]
                        p #{mark}
                    .subscription-header
                        p #{subscription.FirstName} #{subscription.LastName} 
                    .subscription-details 
                        p #{subscription.City} #{subscription.CountryName}
        .messages#messages
            each message in messages
                .message
                    - var viewComments = (+message.id) === (+commentsMessageId)
                    .message-header(onclick="mycourses.comments.view(" + message.id + ")")
                        span
                           | *
                        | #{message.id} #{message.PublishDate}
                    .message-details
                        | #{message.Message}
                    if (viewComments)
                        .comments
                            each comment in comments
                                .comments-block
                                    .comments-header
                                        p #{comment.PublishDate}
                                        strong #{comment.AuthorName}
                                    .comments-text 
                                        P #{comment.Text}
        .messageblock
            textarea.messagetext#messagetext
            span.messagesubmit(onclick="mycourses.messages.send('messagetext')")
                p &ldsh;
