html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/cssreset.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(src='/public/javascripts/main.js')
  body(onload="mycourses.bodyOnLoad()")
    block content
    #addsubscription.dialog-subscription-add.dialog-hide()
      .dialog-subscription-add-header Подписка
      .dialog-subscription-add-header-close(onclick='mycourses.addSubscription.Cancel()')
        |X
      input.dialog-subscription-add-searchtext#searchtext(placeholder="Поиск")
      button.dialog-subscription-add-findbutton#searchbutton(onclick="mycourses.addSubscription.List()") Найти
      .dialog-subscription-add-authors
        each user in usersList
          .subscription(id="adduserid" + user.id, onclick="")
            span.subscription-mark(onclick="mycourses.addSubscription.OK(" + user.id + ")")
                - var mark = (user.FirstName[0]).toUpperCase() + (user.LastName[0]).toUpperCase()
                p #{mark}
            .subscription-header
                p #{user.email} #{user.FirstName} #{user.LastName} 
            .subscription-details 
                p #{user.City}

